<div class="jumbotron mt-4">
  <h1 class="display-4 text-center">BIENVENIDOS A RECUERDAME APP</h1>
  <hr class="my-4">
  <p class="lead">Esta aplicacion esta hecha para ayudar a las personas a recordar eventos o compromisos a futuro</p>

</div>