<div class="jumbotron mt-4">
  <h1 class="display-4 text-center">BIENVENIDOS A RECUERDAME APP</h1>
  <img class="mx-auto d-block" src="https://img.icons8.com/plasticine/100/000000/family.png">
  <p class="lead text-center">Tu familia quiere lo mejor para ti bro:v</p>
  <hr class="my-4">
  <p class="lead">Esta aplicacion esta hecha para ayudar a las personas a recordar eventos o compromisos a futuro</p>

</div>