<div class="jumbotron mt-4">
  <h3 class="text-center"><strong>BIENVENIDOS A RECUERDAME APP</strong></h3> 
  <img class="mx-auto d-block animated bounce" src="https://img.icons8.com/plasticine/100/000000/family.png">
  <p class="lead text-center">Tu familia quiere lo mejor para ti</p>
  <hr class="my-4">
  <p class="lead">Esta aplicacion esta hecha para ayudar a las personas a recordar eventos o compromisos a futuro</p>

</div>
